---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import PageHero from "@/components/PageHero.astro";
---

<Layout title="About">
  <Container>
     <PageHero title={"Quiénes Somos"} description={"Conoce más sobre el Hospital San Miguel y la Fundación Quina Care."}/>

    <div class="flex flex-col gap-6 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-bold text-3xl text-gray-800 mb-4">
          Nuestra Historia
        </h2>
        <p class="text-lg leading-relaxed text-slate-500 mb-4">
          El hospital fue fundado por la Fundación Quina Care, iniciada por dos médicos de los Países Bajos: el Dr. Jacob van der Ende y la Dra. Carolien Bouwman. En el año 2021, el Hospital San Miguel abrió sus puertas por primera vez, ofreciendo atención médica de emergencia y consultas externas, farmacia y laboratorio.
        </p>
        <p class="text-lg leading-relaxed text-slate-500">
          Con el tiempo, hemos crecido y ahora brindamos atención de emergencias las 24 horas, salas de parto, procedimientos quirúrgicos seleccionados y salas de hospitalización para hombres, mujeres y niños.
        </p>
      </div>

      <div>
        <h2 class="font-bold text-3xl text-gray-800 mb-4">
          Cómo nos Financiamos
        </h2>
        <p class="text-lg leading-relaxed text-slate-500">
          El hospital es financiado por la Fundación Quina Care, que tiene actividades en Ecuador, los Países Bajos y Estados Unidos. Somos una organización sin fines de lucro y funcionamos gracias al apoyo de donaciones y organizaciones benéficas.
        </p>
      </div>

      <div>
        <h2 class="font-bold text-3xl text-gray-800 mb-4">
          Nuestra Ubicación
        </h2>
        <p class="text-lg leading-relaxed text-slate-500">
          El hospital está ubicado en el antiguo internado del Colegio San Miguel. La iglesia católica ha donado el uso de las instituciones para el Hospital San Miguel. Muchas personas de la región pueden reconocer el lugar porque estudiaron aquí. Durante la construcción del hospital, se intentó conservar al máximo la estructura original y el carácter del internado.
        </p>
      </div>

      <div>
        <h2 class="font-bold text-3xl text-gray-800 mb-4">
          Investigación Científica
        </h2>
        <p class="text-lg leading-relaxed text-slate-500">
          Además de brindar atención médica, en el Hospital San Miguel también realizamos investigaciones sobre enfermedades comunes en la región, como el dengue. Estas investigaciones son realizadas por nuestros médicos y personal de laboratorio, con el objetivo de mejorar la atención y el conocimiento médico en el largo plazo.
        </p>
      </div>
    </div>
  </Container>
</Layout>
