---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Consultas Médicas Generales",
    description:
      "Atención médica general para adultos, niños y embarazadas. Consulta general $5.00, consulta niño $2.50, consulta embarazada $2.50.",
    icon: "bx:bxs-user",
  },
  {
    title: "Emergencias 24/7",
    description:
      "Atención de emergencias las 24 horas del día, los 7 días de la semana. Consulta de emergencia $15.",
    icon: "bx:bxs-time-five",
  },
  {
    title: "Hospitalización",
    description:
      "Salas de hospitalización para hombres, mujeres, niños y embarazadas. Disponible 24/7. Precio por noche: $15.",
    icon: "bx:bxs-home",
  },
  {
    title: "Laboratorio",
    description:
      "Ofrecemos pruebas de orina, heces y sangre para diagnósticos precisos.",
    icon: "bx:bxs-flask",
  },
  {
    title: "Radiología",
    description:
      "Servicios de radiografías y ecografías para diagnósticos por imágenes.",
    icon: "bx:bxs-camera",
  },
  {
    title: "Farmacia",
    description:
      "Servicio de farmacia con medicamentos esenciales para el tratamiento de nuestros pacientes.",
    icon: "bx:bxs-capsule",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Nuestros Servicios Médicos
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Ofrecemos una amplia gama de servicios médicos para satisfacer las necesidades de salud de nuestra comunidad.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
