---
import { Picture } from "astro:assets";
import heroImage from "@/assets/hospital.jpg";
import Link from "@/components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<section class="relative grid lg:grid-cols-1 place-items-center">
  <div class="block">
    <Picture
      src={heroImage}
      alt="Hospital San Miguel, en Puerto El Carmen"
      widths={[200, 400, 600, 1200]}
      loading="eager"
      format="avif"
      class="w-full h-full object-cover"
    />
    <div
      class="absolute inset-0 flex flex-col items-center justify-between text-center bg-black/10 shadow">
      <p
        class="mt-4 p-1 px-2 text-black border border-[#EE2e2D77] bg-white/40 rounded-2xl text-lg md:text-2xl  drop-shadow-md text-balance">
        Atención médica de calidad las 24 horas del día en Puerto el Carmen, Putumayo
      </p>
      <div class="p-6 md:p-12 xl:p-20 text-center">
        <h1
          class="text-3xl md:text-7xl lg:text-8xl xl:text-9xl font-black text-white drop-shadow-[0_4px_12px_rgba(0,0,0,0.8)] uppercase">
          Hospital <br /> San Miguel
        </h1>
      </div>
    </div>
  </div>
</section>
